@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/1089f2cc75/UntitledProject/icomoon.eot?xhf0gr');
  src:  url('https://i.icomoon.io/public/temp/1089f2cc75/UntitledProject/icomoon.eot?xhf0gr#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/1089f2cc75/UntitledProject/icomoon.ttf?xhf0gr') format('truetype'),
    url('https://i.icomoon.io/public/temp/1089f2cc75/UntitledProject/icomoon.woff?xhf0gr') format('woff'),
    url('https://i.icomoon.io/public/temp/1089f2cc75/UntitledProject/icomoon.svg?xhf0gr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
